* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn-hover {
  cursor: pointer;
  background: transparent;
  border: 0;
  border-bottom: 1px dashed #999999;
  color: #999999;
  padding: 6px 0;
  font-size: 16px;
}
.buttonDiv {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
}

.tooltip {
  background-color: #000000;
  color: #ffffff;
  padding: 16px;
  border-radius: 10px;
  position: absolute;
}
.tooltip-right {
  right: 0;
  top: 0;
}
.tooltip-right::before {
  content: '';
    border-right: 10px solid #000000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: -10px;
}
.tooltip-left {
  left: 0;
  top: 0;
}
.tooltip-left::before {
  content: '';
    border-left: 10px solid #000000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -10px;
}
.tooltip-bottom {
  bottom: -70px;
}
.tooltip-bottom:before {
  content: '';
    border-bottom: 10px solid #000000;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-top {
  top: -70px;
}

.tooltip-top:before {
  content: '';
  border-top: 10px solid #000000;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}